* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow-color: orange;
}


body {
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    min-height: 80vh;
    background-image: url(img/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header .linear {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.958), rgba(128, 128, 128, 0.564));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content-header {
    font-weight: bolder;
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    font-size: 1.3rem;
    height: 25%;
}

.yellow-txt {
    color: var(--yellow-color);
}

.content-header p {
    margin-bottom: 20px;
}

.content-header button {
    margin-top: 20px;
    background-color: var(--yellow-color);
    color: white;
    outline: none;
    border: none;
    width: 9rem;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content-header button:hover {
    background-color: white;
    color: var(--yellow-color);
}

.sepratior {
    width: 40%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-top: 2px solid black;
    text-align: center;
    grid-column: 3/5;
    position: relative;
}

.sepratior p {
    position: absolute;
    left: 50%;
    top: -4px;
    background-color: white;
    color: var(--yellow-color);
    padding: 0 10px;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: bolder;
}

.story {
    width: 90%;
    background-color: white;
    height: 33vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.story img {
    width: 24%;
    border-radius: 5px;
    cursor: pointer;
}

.service {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    text-align: center;
}

.service div {
    margin-bottom: 2rem;
}

.service div p {
    font-weight: bold;
}

.service div span {
    font-size: 0.8rem;
    font-weight: bold;
}

.service div img {
    width: 17rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.reserve {
    width: 100%;
    height: 60vh;
    background-image: url(img/isorepublic-korean-food-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container-ordering {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ordering > div {
    height: 80%;
}

.container-ordering > div:nth-child(1) {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.948);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: small;
}

.location-ordering {
    display: flex;
    flex-direction: column;
}

.location-ordering > span {
    margin-bottom: 0.6rem;
}

.slogan {
    width: 80%;
}

.container-ordering > div:nth-child(2) {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.861);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
}

.right div:nth-child(1) p:nth-child(2),
.right div:nth-child(2) p:nth-child(2) {
    font-weight: bolder;
}

.right div:nth-child(3) {
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.right div:nth-child(3) img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.galleryBox {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.galleryBox div {
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.galleryBox > div:nth-child(1) {
    background-image: url(img/1.jpg);
    grid-row: 3/4;
    grid-column: 2/4;
}

.galleryBox > div:nth-child(2) {
    grid-row: 2/4;
    background-image: url(img/https___www.lifeofpix.com_wp-content_uploads_2020_04_DSC08716.jpg);
    background-position: bottom;
}

.galleryBox > div:nth-child(3) {
    background-image: url(img/isorepublic-salad-dinner-1.jpg);
    grid-row: 2/3;
    grid-column: 2/3;
}

.galleryBox > div:nth-child(4) {
    background-image: url(img/https___www.lifeofpix.com_wp-content_uploads_2020_03_P1250369.jpg);
    grid-row: 1/3;
    grid-column: 3/4;
}

.galleryBox > div:nth-child(5) {
    background-image: url(img/isorepublic-summer-dinner-1.jpg);
    background-position: bottom;
    grid-row: 1/2;
    grid-column: 1/3;
}

footer {
    margin-top: 7rem;
    width: 100%;
    height: 35vh;
    border-top: 2px solid var(--yellow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

footer > p{
    margin: 2rem;
}

footer > div {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

footer > div h2 {
    color: var(--yellow-color);
    margin-bottom: 8px;
    font-size: 1.4rem;
}

footer > div p {
    cursor: pointer;
    transition: all 0.2s ease;
}

footer > div p:hover {
    color: var(--yellow-color);
}

footer > div p,
footer > p {
    margin-bottom: 7px;
    font-size: 1rem;
}

@media screen and (max-width: 920px) {
    header {
        min-height: 60vh;
    }
    .service {
        width: 80%;
    }
    .content-header {
        font-size: 1rem;
    }
    .story {
        flex-wrap: wrap;
        margin-bottom: 8rem;
    }
    .story img {
        width: 30%;
        margin: 5px;
    }

    .sepratior p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .story img {
        width: 44%;
        margin: 5px;
    }
    .reserve {
        height: 65vh;
        align-items: center;
    }

    .container-ordering {
        flex-direction: column;
        height: 90%;
    }

    .container-ordering > div:nth-child(1),
    .container-ordering > div:nth-child(2) {
        width: 100%;
        font-size: 0.7rem;
    }

    .right div:nth-child(3) img {
        width: 70px;
        height: 70px;
    }

    .location-ordering > span {
        margin-bottom: 0.3rem;
    }

    .gallery {
        height: 80vh;
    }
    footer {
        height: 60vh;
    }
    footer > div {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }

    footer > div > div {
        width: 40%;
    }

   
}

@media screen and (max-width: 520px) {
    .story {
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .story img {
        width: 47%;
        margin: 5px;
    }

    .gallery {
        height: 55vh;
        overflow: hidden;
    }
    footer > div > div {
        width: 90%;
        margin-top: 1rem;
    }
    footer > p{
        font-size: 0.7rem;
    }
    
    footer div{
        text-align: left;
        margin-left: 3.5rem;
    }

}

@media screen and (max-width: 420px) {
    .story {
        margin-bottom: 30rem;
    }

    .story img {
        width: 80%;
    }

    .gallery {
        height: 32vh;
        overflow: hidden;
    }

    .galleryBox {
        grid-gap: 5px;
    }

    .galleryBox div {
        border-radius: 5px;
    }
    footer > p{
        margin-bottom: 1rem;
    }

    footer > div > p{
        font-size: 0.8rem;
    }
}
